* text=auto
*.cs text eol=lf
*.csproj text eol=lf
*.props text eol=lf
*.pubxml text eol=lf
*.slnx text eol=lf
*.md text eol=lf
*.yml text eol=lf
*.ps1 text eol=lf
*.cmd text eol=crlf
*.png binary
*.ico binary
